In [2]:
import pandas as pd

from datetime import datetime

In [3]:
df = pd.read_csv('data/EPM.csv').drop('Unnamed: 0', axis=1)
df

,trx_date,customer_name,ship_to_id,branch_code,item_code,item_desc,principal_code,principal_desc,gross_sales_amount,sales_qty
0,2021-08-20,JK1-AP. DEVITA_GROUP_NA,EPM_34950,JK1,KCFMB,CEFIXIME 100MG 50 KAPSUL,801_1111,HEXPHARM (PHARMAMED),195000,3
1,2021-11-02,JK1-AP. DEVITA_GROUP_NA,EPM_34950,JK1,CKCOA,KALCINOL N CREAM 5 GR,803_1111,KALBE NIMITZ (PHARMAMED),28500,3
2,2021-11-02,JK1-AP. DEVITA_GROUP_NA,EPM_34950,JK1,TMFNB,METFORMIN HCL 200 TABLET,801_1111,HEXPHARM (PHARMAMED),175000,5
3,2021-11-02,JK1-AP. DEVITA_GROUP_NA,EPM_34950,JK1,TBSVC,BRONSOLVAN 100 TABLET,365_1111,HEXPHARM TSJ (PHARMAMED),35000,1
4,2021-08-20,JK1-AP. DEVITA_GROUP_NA,EPM_34950,JK1,TALNF,AMLODIPINE BESILATE 10MG,801_1111,HEXPHARM (PHARMAMED),255000,3
...,...,...,...,...,...,...,...,...,...,...
518650,2023-09-30,JK1-AP. INDAH SEHAT_GROUP_NA,EPM_4554507,JK1,BLCVS,BMORES VISION SUPPORT (30 CAP),033_1181,PT. KALBE BLACKMORES NUTRITION (KBN),577704,3
518651,2023-09-30,JK1-AP. INDAH SEHAT_GROUP_NA,EPM_4554507,JK1,BLCVC,BLACKMORES VIT C 500 MG (60),033_1181,PT. KALBE BLACKMORES NUTRITION (KBN),2094600,20
518652,2023-09-30,JK1-AP. INDAH SEHAT_GROUP_NA,EPM_4554507,JK1,BLCOF,BMORES ODOURLESS FISHOIL 90,033_1181,PT. KALBE BLACKMORES NUTRITION (KBN),1655410,10
518653,2023-09-30,JK1-AP. INDAH SEHAT_GROUP_NA,EPM_4554507,JK1,BLCMV,BLACKMORES MULVIT MIN(30),033_1181,PT. KALBE BLACKMORES NUTRITION (KBN),1712835,15
518654,2023-09-30,JK1-AP. INDAH SEHAT_GROUP_NA,EPM_4554507,JK1,BLCBI,BMORES BIO D3 1000 IU (30 CAP),033_1181,PT. KALBE BLACKMORES NUTRITION (KBN),1722975,25

In [3]:
# dff = df[['item_code', 'item_desc']].drop_duplicates().sort_values('item_code').groupby('item_desc').count().reset_index()
# dff[dff['item_desc'] >]
# len(df.item_code.unique())
# len(df.item_desc.unique())
# dff[dff['item_code'] > 1]
# df[df['item_desc'] == 'AZITHROMYCIN DIHYDRATE']

In [4]:
df2 = df[['customer_name', 'item_code', 'trx_date']]
df2

                       customer_name item_code    trx_date
0            JK1-AP. DEVITA_GROUP_NA     KCFMB  2021-08-20
1            JK1-AP. DEVITA_GROUP_NA     CKCOA  2021-11-02
2            JK1-AP. DEVITA_GROUP_NA     TMFNB  2021-11-02
3            JK1-AP. DEVITA_GROUP_NA     TBSVC  2021-11-02
4            JK1-AP. DEVITA_GROUP_NA     TALNF  2021-08-20
...                              ...       ...         ...
518650  JK1-AP. INDAH SEHAT_GROUP_NA     BLCVS  2023-09-30
518651  JK1-AP. INDAH SEHAT_GROUP_NA     BLCVC  2023-09-30
518652  JK1-AP. INDAH SEHAT_GROUP_NA     BLCOF  2023-09-30
518653  JK1-AP. INDAH SEHAT_GROUP_NA     BLCMV  2023-09-30
518654  JK1-AP. INDAH SEHAT_GROUP_NA     BLCBI  2023-09-30

[518655 rows x 3 columns]

In [5]:
df2['trx_date']

0         2021-08-20
1         2021-11-02
2         2021-11-02
3         2021-11-02
4         2021-08-20
             ...
518650    2023-09-30
518651    2023-09-30
518652    2023-09-30
518653    2023-09-30
518654    2023-09-30
Name: trx_date, Length: 518655, dtype: object

In [24]:
datetime.strptime(df2['trx_date'][0], "%Y-%m-%d").timestamp()

1629392400.0

In [28]:
df2['trx_date'] = df['trx_date'].apply(lambda x: int(datetime.strptime(x, "%Y-%m-%d").timestamp()))
df2['trx_date']
# df2['trx_date']

C:\Users\Fadli\AppData\Local\Temp\ipykernel_12600\2306116472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['trx_date'] = df['trx_date'].apply(lambda x: int(datetime.strptime(x, "%Y-%m-%d").timestamp()))

0         1629392400
1         1635786000
2         1635786000
3         1635786000
4         1629392400
             ...
518650    1696006800
518651    1696006800
518652    1696006800
518653    1696006800
518654    1696006800
Name: trx_date, Length: 518655, dtype: int64

In [29]:
df_id = pd.DataFrame({col: df2[col].astype('category').cat.codes for col in ['customer_name', 'item_code']}, index=df2.index)

df22 = pd.concat([df_id, df2[['trx_date']]], axis=1)
df22

        customer_name  item_code    trx_date
0                 114        421  1629392400
1                 114        176  1635786000
2                 114       1178  1635786000
3                 114        998  1635786000
4                 114        974  1629392400
...               ...        ...         ...
518650            156        128  1696006800
518651            156        125  1696006800
518652            156        115  1696006800
518653            156        110  1696006800
518654            156         75  1696006800

[518655 rows x 3 columns]

In [30]:
df22.to_csv('EPM-prep.txt', sep='\t', index=False, header=False)